:root {
    --header-bg: #b2c6f1;
    --header-text: #46586e;
    --main-list-border-hover-selected: #6c79935e;
    --main-popup-shadow-hover-bg: #b2c6f199;
    &.lightMode {
      --main-list-border-hover-selected: #94b2ed5e;
    }
    &.darkMode {
      --main-list-border-hover-selected: #6c79935e;
    }
}

.theme-orange {
  --header-bg: #e7cba8;
  --header-text: #6d491e;
  --main-popup-shadow-hover-bg: #e7caa799;
  &.lightMode {
    --main-list-border-hover-selected: #ffb0565e;
  }
  &.darkMode {
    --main-list-border-hover-selected: #8b79655e;
  }
}
.theme-purple {
  --header-bg: #c5bbeb;
  --header-text: #37276f;
  
  --main-popup-shadow-hover-bg: #c5baed99;
  &.lightMode {
    --main-list-border-hover-selected: #b4a6e25e;
  }
  &.darkMode {
    --main-list-border-hover-selected: #655b865e;
  }
}
.theme-green {
  --header-bg: #96d195;
  --header-text: #3c5c3c;
  --main-popup-shadow-hover-bg: #96d09599;
  &.lightMode {
    --main-list-border-hover-selected: #90e18e5e;
  }
  &.darkMode {
    --main-list-border-hover-selected: #578a565e;
  }
}
.theme-pink {
  --header-bg: #ffd1e4;
  --header-text: #871e4a;
  --main-list-border-hover-selected: #9861785e;
  --main-popup-shadow-hover-bg: #ffd1e499;
  &.lightMode {
    --main-list-border-hover-selected: #fab1cf5e;
  }
  &.darkMode {
    --main-list-border-hover-selected: #9861785e;
  }
}
.theme-blue {
  --header-bg: #b2c6f1;
  --header-text: #46586e;
  --main-list-border-hover-selected: #6c79935e;
  --main-popup-shadow-hover-bg: #b2c6f199;
  &.lightMode {
    --main-list-border-hover-selected: #94b2ed5e;
  }
  &.darkMode {
    --main-list-border-hover-selected: #6c79935e;
  }
}
