// scss-lint:disable unknownAtRules
@use '_themeColours.scss'; 

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Play:wght@400;700&family=Silkscreen:wght@400;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", monospace;
}

// Dark and Light Mode
.darkMode {
  .listItem {
    @apply border-black;
  }
  .inputContainer {
    @apply bg-black text-white !important;
  }
  .mainContainerTasks {
    @apply bg-black text-white !important;
  }
}

.lightMode {
  .listItem {
    @apply border-white;
  }
  .inputContainer {
    @apply bg-white text-black;
  }
  .mainContainerTasks {
    background-image: linear-gradient(#f4f4f4c4 1.5px, transparent 1.5px), linear-gradient(to right, #f4f4f4c4 1.5px, transparent 1.5px);
    background-size: 17px 17px;
    background-color: #ffffff;	
    @apply text-black;
  }
}

body {
  @apply w-full h-dvh;
  background-color: transparent;

  #root {
    @apply w-full h-full flex items-center justify-center text-xs;

    #myHeader {
      -webkit-app-region: drag;
      cursor: grab;
      background-color: var(--header-bg);

      h1 {
        color: var(--header-text);
        font-weight: 500;
      }

      .myIcons,
      .svg-con {
        -webkit-app-region: no-drag;
      }
    }

    .myHiddenScrollbar {
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .mainContainerTasks {
      @apply h-full p-2 flex flex-col gap-3 overflow-auto border-2 border-t-[#b5b5b5] border-l-[#b5b5b5] border-b-white border-r-white;
    }

    .inputContainer {
      @apply h-[28px] p-1 flex flex-col flex-grow overflow-auto border-2 border-t-[#b5b5b5] border-l-[#b5b5b5] border-b-white border-r-white;
    }

    .listItem {
      @apply p-1 border;
      &:hover {
        border-color: var(--main-list-border-hover-selected);
        @apply cursor-pointer;
      }
      &.selected {
        background-color: var(--main-list-border-hover-selected);
      }
    }

    .checkbox {
      @apply font-bold;

      .completed {
        @apply text-red-500;
      }
    }

    .menuPopupMain {
      @apply p-2 cursor-pointer relative;

      &:hover {
        background-color: var(--main-popup-shadow-hover-bg);
      }

      .menuPopUpSub {
        @apply  p-2 cursor-pointer flex gap-[6px];
        &:hover {
          background-color: var(--main-popup-shadow-hover-bg);
        }
      }
    }

    .myIcons {
      .inner-con {
        background-color: #eeeeee;
        border-top: 1px solid white;
        border-left: 1px solid white;
        padding: 2px;
        cursor: pointer;

        &:hover {
          background-color: #e0e0e0;
          border-bottom: 1px solid white;
          border-right: 1px solid white;
          border-top: none;
          border-left: none;
          
        }
      }

      .svg-con .middle {
        border-left: 1px solid white;
        border-bottom: 1px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
      }

      .svg-con svg {
        background-color: #eeeeee;
        border-top: 1px solid white;
        border-left: 1px solid white;
        border-bottom: 1px solid #c5c5c5;
        border-right: 1px solid #c5c5c5;
        padding: 2px;
        cursor: pointer;
        height: 17px;
        width: 17px;
        font-size: 11px;

        &:hover {
          background-color: #e0e0e0;
          border-bottom: 1px solid white;
          border-right: 1px solid white;
          border-top: 1px solid #c5c5c5;
          border-left: 1px solid #c5c5c5;
        }
      }
    }
    
  }
}
